.card mb-3 {
    grid-row: auto;
}

.card {
    box-shadow: 2px 3px 2px 0;
    transition: 0.3s;
    border-radius: 30px;
    grid-row: auto;
}


/* Add rounded corners to the top left and the top right corner of the image */

img {
    border-radius: 5px 5px 0 0;
    align-self: center;
}